<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBY68fTAUQlKuhq9omo7-hrd2K4KUd-zp4</string>
	<key>GCM_SENDER_ID</key>
	<string>391223002930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.escher.SwiftUIChatTutorial</string>
	<key>PROJECT_ID</key>
	<string>swiftuichattutorial-67a6f</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuichattutorial-67a6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391223002930:ios:0a01a160d2342c2eab792b</string>
</dict>
</plist>